<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="csslayout.css">
</head>

<body>

    <div id="strana">
        <nav>
            <table width="100%">
                <tr>
                    <td>Home</td>
                    <td>About</td>
                    <td>Contact</td>
                    <td>Blog</td>
                </tr>
            </table>

        </nav>

        <img src="images/htmlcss.jpg" width="960px" alt="">

        <div id="lista">
            <ul>
                <li>Rebuilding slack.com</li>
                <hr>
                <li>Zasto bootcamp format?</li>
                <hr>
                <li>React - prozor u svet web aplikacija</li>
                <hr>
                <li>Najvece zablude o programerima u Srbiji</li>
                <hr>
            </ul>
        </div>





        <div class="sirina">
            <img src="images/300x200.png" alt="">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis veritatis dolores tempora
                voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis necessitatibus tempore,
                quis officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis veritatis
                dolores tempora voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis necessitatibus
                tempore, quis officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis
                veritatis dolores tempora voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis
                necessitatibus tempore, quis officiis.
            </p>


        </div>

        <div class="sirina">
            <img src="images/300x200.png" alt="">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis veritatis dolores tempora
                voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis necessitatibus tempore,
                quis officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis veritatis
                dolores tempora voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis necessitatibus
                tempore, quis officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis
                veritatis dolores tempora voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis
                necessitatibus tempore, quis officiis.
            </p>


        </div>

        <div class="sirina" id="clear">
            <img src="images/300x200.png" alt="">
            <p>
                <b> Lorem</b> ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis veritatis dolores
                tempora voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis necessitatibus
                tempore, quis officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis
                veritatis dolores tempora voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis
                necessitatibus tempore, quis officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet
                delectus omnis veritatis dolores tempora voluptatibus molestiae maxime obcaecati quibusdam id soluta nam
                odio totam reiciendis necessitatibus tempore, quis officiis.
            </p>


        </div>

        <div class="sirina">
            <img src="images/300x200.png" alt="">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis veritatis dolores tempora
                voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis necessitatibus tempore,
                quis officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis veritatis
                dolores tempora voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis necessitatibus
                tempore, quis officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis
                veritatis dolores tempora voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis
                necessitatibus tempore, quis officiis.
            </p>


        </div>

        <div class="sirina">
            <img src="images/300x200.png" alt="">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis veritatis dolores tempora
                voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis necessitatibus tempore,
                quis officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis veritatis
                dolores tempora voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis necessitatibus
                tempore, quis officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet delectus omnis
                veritatis dolores tempora voluptatibus molestiae maxime obcaecati quibusdam id soluta nam odio totam reiciendis
                necessitatibus tempore, quis officiis.
            </p>


        </div>



    </div>

</body>

</html>