body {
    background-image: url(https://i.pinimg.com/736x/2a/63/9a/2a639a2d431aea53b54da079f7dda40e--canvas-painting-ideas-for-beginners-acrylics-painting-inspiration-ideas.jpg);

}

form {
    
    padding: 50px ;
    background-color: black;
    width:300px;
    margin: 0 auto;
    border-radius: 10px;
}
 label {
   
     width : 100px;

 }

 p {
     color:blue;
     
    margin: 10px;
     text-align: center;
     font-size: 36px;
     
 }

 p span{
     color:orange;
 }

 #submit{
   
   width: 60px;
   background-color: red;
   border-radius: 10px;
 }
 input{

    width: 100%;
 }
 
 #email{
     background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/High-contrast-mail-mark-unread.svg/2000px-High-contrast-mail-mark-unread.svg.png");
     background-repeat: no-repeat;
     background-size: 20px;
     padding-left: 20px;
     }

#fullname{
    background-image: url("http://thenewcode.com/assets/images/thumbnails/homer-simpson.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 20px;
}     

#num{
    background-image: url("https://www.gnu.org/graphics/dittberner_gnu.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 20px;
}

#ad{

    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Radiation_warning_symbol2.svg/1024px-Radiation_warning_symbol2.svg.png");
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 20px;
}