
main{
    width: 80%;
    text-align:center;
    margin: 0 auto;
}
article{
    border: 1px solid;
    padding: 10px;
    margin-bottom: 20px; 

}

article img {
    width: 100%;
    
}
 @media only screen and (min-width:576px){
     main{
         display: block;
     }
    article img{
        float: left;
        width: 30%;
        margin-right: 20px;
        height: 50%;
     
    }
    p{
        text-align: right;
    }
}
@media only screen and (min-width:768px){
    main{
        display: inline;
    }
    article{
        float: left;
        display: inline;
        width: 33%;
        margin: 0 auto;

    }

} 